body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #dae9f4;
    margin: 0;
    padding: 20px;
}

h1 {
    color: #77919d;
}

input {
    padding: 10px;
    font-size: 16px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #274c5e;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #54546c;
}
